#root {
    flex-direction: row;
    display: flex;
    flex: 1;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #f5f5f5;}

th, td {
    border-bottom: 1px solid #ddd;
}

.tableDiv {
    display: flex;
    flex: 1;
    justify-content: center
}

.dataTable {
    width: 100%;
    align-self: 'center';
}

.navigationDiv {
    width: 20%
}

.sideNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.navItem {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;  
}

.navItem :hover {
    background-color: #4CAF50;
    color: white;
}
  