html, body {
    height: 100%;
}

#root {
    flex-direction: row;
    display: flex;
    flex: 1;
    height: 100%;
}

th {
    background-color: #41b1f0;
    color: white;
}

tr:hover {background-color: #f8f9fa!important;}

th, td {
    border-bottom: 1px solid #ddd;
}

a:hover {
    color:white;
}

.tableDiv {
    display: flex;
    flex: 1;
    justify-content: center;
}

.dataTable {
    width: 100%;
    align-self: 'center';

}

.navigationDiv {
    width: 20%;
    height: 100%;
}

.sideNav {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5!important;
}

.navItem .navItemText{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navItem .navItemText:hover {
    background-color: #555;
    color: white;
}

.btn {
    background-color: #f8f9fa;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: #7c7c7d;
    }

.footer_data {
    background-color: #41b1f0;
    color: white;
    position: sticky;
    bottom: 0;
}
