{% extends 'navbar.html' %}

{% block content %}
<div style="height:90%">
    <div id="root">
        <div class="navigationDiv">
            <ul class="sideNav">
                {% if unique_types != None %}
                    {% for type in unique_types %}
                        <li class="navItem"><a href={{ url_for('view_table', category=category, item_type=type) }} class="navItemText">{{type}}</a></li>
                    {% endfor %}
                {% else %}
                <li class="navItem" align="center"><p style="text-align:center;">Select a type from the menu on the right to get started!</p></li>
                {% endif %}
            </ul>
        </div>
        <div class="tableDiv" style="overflow-y: scroll">
            {% if msg != "" %}
                <p><b><font color="red">{{msg}}</font></b></p>
            <br />
            {% endif %}

            {% if dataList != None %}
            <table class="dataTable" >
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        {% if columnNames != None %}
                        {% set count = [ ] %}
                        {% for header in columnNames %}
                        <th style="position: sticky; top: 0;">{{header}}</th>
                        {% set __ = count.append(1) %}
                        {% endfor %}
                        {% endif %}
                        <th style="position: sticky; top: 0; width:4%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll">
                        {% for row in dataList %}
                            <tr>
                                <td></td>
                                {% set count2 = [ ] %}
                                {% for data in row['data'] %}
                                    {% set __ = count2.append(1) %}
                                    {% if count|length == count2|length and condForm[0] != 0 and condForm[1] != 0 and condForm[1] >= condForm[0] %}
                                        {% if data <= condForm[0] %}
                                            <td bgcolor="#EC7063">{{data}}</td>
                                        {% elif data > condForm[1] %}
                                            <td bgcolor="#2ECC71">{{data}}</td>
                                        {% else %}
                                            <td bgcolor="#F7DC6F">{{data}}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{data}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><a href="#"><img data-toggle="modal" onclick="triggerHistoryModal({{ row['id'] }})" data-target="#historyModalCenter" src="../static/history_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td><a href="#"><img data-toggle="modal" onclick="triggerEditModal('{{category}}', '{{ row['id'] }}', '{{item_type}}')" data-target="#editModalCenter" src="../static/edit_icon.svg" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if category != None %}
                    <tfoot>
                        <tr>
                            <td class="footer_data"></td>
                            <td class="footer_data" data-toggle="modal" onclick="triggerAddModal('{{category}}', '{{item_type}}')" data-target="#addModalCenter"><a style="color:white;" href="#">Click to add more...</a></td>
                            {% for data in dataList[0]['data'] %}
                                <td class="footer_data"></td>
                            {% endfor %}
                            <td class="footer_data"></td>
                            <td class="footer_data"></td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            {% endif %}

            {% if dataList == None %}
            <img src="../static/wash.PNG" style="width: 80%; object-fit: contain;">
            {% endif %}
        </div>



    </div>
    <div>
        <div class="modal fade" id="historyModalCenter" tabindex="-1" role="dialog" aria-labelledby="historyModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Item History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="history-modal-target" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="edit-modal-target" class="modal-body">
                    {% if columnNames != None %}
                        {% for i in range(columnNames|length - 1) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:30%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="edit_target_{{i}}" value="{{columnNames[i]}}" style="width:100%">{{columnNames[i]}}</span>
                                </div>

                                {% if columnNames[i] != "Type" %}
                                    <input type="text" class="form-control" id="edit_{{i}}">
                                {% else %}
                                    <select id="edit_{{i}}" style="height:38px; width:68%; margin-left:2%;">
                                        {% for unique_type in unique_types %}
                                            {% if item_type == unique_type %}
                                                <option selected value={{unique_type}}>
                                                    {{unique_type}}
                                                </option>
                                            {% else %}
                                                <option value={{unique_type}}>
                                                    {{unique_type}}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="input-group">
                        <span id="edit_error_message" style="width:100%; color:orangered;">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" onclick="submitDelete()" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" onclick="submitEdit()" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Modal for adding item to a category and type -->
        <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="addModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="add-modal-target" class="modal-body">
                    {% if addModalColumnNames != None %}
                        {% for i in range(addModalColumnNames|length) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:25%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="add_target_{{i}}" value="{{addModalColumnNames[i]}}" style="width:100%">{{addModalColumnNames[i]}}</span>
                                </div>
                                <input type="text" class="form-control" id="add_{{i}}">
                            </div>

                        {% endfor %}
                    {% endif %}

                    <div class="input-group">
                        <span id="add_error_message" style="width:100%; color:orangered;"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="submitAdd()" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Modal for editing conditional formatting values for each data type -->
        <div class="modal fade" id="editConditionalFormatting" tabindex="-1" role="dialog" aria-labelledby="editConditionalFormatting" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Conditional Formatting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-prepend" style="width:34%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="Item Type" style="width:100%">Item Type</span>
                            </div>
                            <div class="input-group-prepend" style="width:33%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="Low Value" style="width:100%">Low Value</span>
                            </div>
                            <div class="input-group-prepend" style="width:33%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="High Value" style="width:100%">High Value</span>
                            </div>
                        </div>
                        {% if type_data != None %}
                        {% for i in range(type_data|length) %}
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-prepend" style="width:34%; padding-bottom: 2.5%">
                                <span class="input-group-text" id="cond_target_{{i}}" value="{{type_data[i][0]}}" style="width:100%">{{type_data[i][0]}}</span>
                            </div>
                            <input type="text" class="form-control" id="addL_{{i}}" value="{{type_data[i][2]}}">
                            <input type="text" class="form-control" id="addH_{{i}}" value="{{type_data[i][1]}}">
                        </div>

                        {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span id="cond_error_message" style="width:100%; color:orangered;">
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitCondChange()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal for adding types -->
        <div class="modal fade" id="addTypeModal" tabindex="-1" role="dialog" aria-labelledby="addTypeModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:25%">
                                <span class="input-group-text" id="edit_target_{{i}}" style="width:100%">Category</span>
                            </div>
                            <select id="addTypeSelector" style="width:75%; height:38px;">
                                {% for category in category_list %}
                                    <option value={{category}}>
                                        {{category}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:25%;">
                                <span class="input-group-text" style="width:100%">Type</span>
                            </div>
                            <input type="text" class="form-control" id="addType">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitAddType()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal for searching -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:25%">
                                <span class="input-group-text" id="edit_target_{{i}}" style="width:100%">Category</span>
                            </div>
                            <select onchange="changedType()" id="searchTypeSelector" style="width:75%; height:38px;">
                                {% for category in category_list %}
                                    <option value={{category}}>
                                        {{category}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="searchCriteriaGroup">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitSearch()" class="btn btn-primary" data-dismiss="modal">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
