<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="styles/provided.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/post.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modalFunctionality.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" display : flex; flex-direction : row; justify-content : space-between; border-bottom: 1px solid #ddd;">
        <div>
            <a class="navbar-brand" href={{ url_for('home') }} >
                <img src="../static/logo.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;">
            </a>
        </div>
        
        <div style=" display : flex; flex-direction : row;">
            {% if username != None %}
            <p style="margin-top: 5%">Logged in as {{username}}</p>
            {% endif %}
            <button class="btn"><i class="fa fa-search fa-2x"></i></button>
            <button class="btn"><i class="fa fa-gear fa-2x"></i></button>
            <button class="btn"><i class="fa fa-user fa-2x"></i></button>
            <a href="forze.pythonanywhere.com/logout" class="btn"><i class="fas fa-sign-out-alt fa-2x"></i></a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/hamburger_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if category_list != None %}
                            {% for cat in category_list %}
                            <a class="dropdown-item" href="/{{cat}}/*">{{cat}}</a>
                            {% endfor %}
                            {% endif %}
                        
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <button onclick="tick()"></button>

    <div id="root">
        <div class="navigationDiv">
            <ul class="sideNav">
                {% if unique_types != None %}
                    {% for type in unique_types %}
                        <li class="navItem"><a href={{ url_for('view_table', category=category, item_type=type) }} class="navItemText">{{type}}</a></li>
                    {% endfor %}
                {% else %}
                <li class="navItem" align="center"><p style="text-align:center;">Select a type from the menu on the right to get started!</p></li>
                {% endif %}
            </ul>
        </div>
        <div class="tableDiv" style="overflow-y: scroll">
            {% if msg != "" %}
                <b><font color="red">{{msg}}</font></b>
            {% endif %}

            {% if dataList != None %}
            <table class="dataTable" >
                    <thead>
                        <tr>
                            <th  style="position: sticky; top: 0; width:2.5%"></th>
                            {% if columnNames != None %}
                                {% for header in columnNames %}
                                    <th style="position: sticky; top: 0;">{{header}}</th>
                                {% endfor %}
                            {% endif %}
                            <th style="position: sticky; top: 0; width:4%"></th>
                            <th style="position: sticky; top: 0; width:2.5%"></th>
                            <th  style="position: sticky; top: 0; width:2.5%"></th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll">
                        {% for row in dataList %}
                            <tr>
                                <td></td>
                                {% for data in row['data'] %}
                                    <td>{{data}}</td>
                                {% endfor %}
                                <td><a href="#"><img data-toggle="modal" onclick="triggerHistoryModal({{ row['id'] }})" data-target="#historyModalCenter" src="../static/history_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td><a href="#"><img data-toggle="modal" onclick="triggerEditModal('{{category}}', {{ row['id'] }})" data-target="#editModalCenter" src="../static/edit_icon.svg" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        {% if category != None %}
                            <tr>
                                <td></td>
                                <td data-toggle="modal" onclick="triggerAddModal('{{category}}')" data-target="#addModalCenter"><a href="#">Click to add more...</a></td>
                                {% for data in dataList[0]['data'] %}
                                    <td></td>
                                {% endfor %}
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}

            {% if dataList == None and item_type != "*" and item_type != None%}
            <table class="dataTable" >
                <tr>
                    <td></td>
                    <td data-toggle="modal" onclick="triggerAddModal('{{category}}')" data-target="#addModalCenter"><a href="#">Click to add more...</a></td>
                    {% if dataList != None %}
                    {% for data in dataList[0]['data'] %}
                    <td></td>
                    {% endfor %}
                    {% endif %}
                    <td></td>
                    <td></td>
                </tr>
            </table>
            {% endif %}

        </div>
    </div>
    <div>
        <div class="modal fade" id="historyModalCenter" tabindex="-1" role="dialog" aria-labelledby="historyModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Item History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="history-modal-target" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="edit-modal-target" class="modal-body">
                    {% if columnNames != None %}
                        {% for i in range(columnNames|length) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:25%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="edit_target_{{i}}" value="{{columnNames[i]}}" style="width:100%">{{columnNames[i]}}</span>
                                </div>
                                <input type="text" class="form-control" id="edit_{{i}}">
                            </div>
        
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="submitDelete()" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" onclick="submitEdit()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="addModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="add-modal-target" class="modal-body">
                    {% if columnNames != None %}
                        {% for i in range(columnNames|length) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:25%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="add_target_{{i}}" value="{{columnNames[i]}}" style="width:100%">{{columnNames[i]}}</span>
                                </div>
                                <input type="text" class="form-control" id="add_{{i}}">
                            </div>
        
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="submitAdd()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>