<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="styles/provided.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/post.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modalFunctionality.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" display : flex; flex-direction : row; justify-content : space-between; border-bottom: 1px solid #ddd;">
        <div>
            <a class="navbar-brand" href={{ url_for('home') }} >
                <img src="../static/logo.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;">
            </a>
        </div>

        <div style=" display : flex; flex-direction : row;">
            {% if username != None %}
            <p style="margin-top: 5%">Logged in as {{username}}</p>
            {% endif %}
            <button class="btn"  title="Search Entries"><i class="fa fa-search fa-2x"></i></button>
            <button class="btn" title="Add Type" data-toggle="modal" data-target="#addTypeModal"><i class="fa fa-plus fa-2x"></i></button>
            <button class="btn"  title="Edit Conditional Formatting" onclick="triggerEditCondFormatting()" data-toggle="modal" data-target="#editConditionalFormatting"><i class="fa fa-wrench fa-2x"></i></button>
            <a href="/profile" title="Edit Profile" class="btn"><i class="fa fa-user fa-2xx"></i></a>
            <a href="/logout"  title="Logout" class="btn"><i class="fas fa-sign-out-alt fa-2x"></i></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/hamburger_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if category_list != None %}
                            {% for cat in category_list %}
                            <a class="dropdown-item" href="/{{cat}}/*">{{cat}}</a>
                            {% endfor %}
                            {% endif %}

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="root">
        <div class="navigationDiv">
            <ul class="sideNav">
                {% if unique_types != None %}
                    {% for type in unique_types %}
                        <li class="navItem"><a href={{ url_for('view_table', category=category, item_type=type) }} class="navItemText">{{type}}</a></li>
                    {% endfor %}
                {% else %}
                <li class="navItem" align="center"><p style="text-align:center;">Select a type from the menu on the right to get started!</p></li>
                {% endif %}
            </ul>
        </div>
        <div class="tableDiv" style="overflow-y: scroll">
            {% if msg != "" %}
                <b><font color="red">{{msg}}</font></b>
            {% endif %}

            {% if dataList != None %}
            <table class="dataTable" >
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        {% if columnNames != None %}
                        {% set count = [ ] %}
                        {% for header in columnNames %}
                        <th style="position: sticky; top: 0;">{{header}}</th>
                        {% set __ = count.append(1) %}
                        {% endfor %}
                        {% endif %}
                        <th style="position: sticky; top: 0; width:4%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll">
                        {% for row in dataList %}
                            <tr>
                                <td></td>
                                {% set count2 = [ ] %}
                                {% for data in row['data'] %}
                                    {% set __ = count2.append(1) %}
                                    {% if count|length == count2|length and condForm[0] != 0 and condForm[1] != 0 and condForm[1] >= condForm[0] %}
                                        {% if data <= condForm[0] %}
                                            <td bgcolor="#EC7063">{{data}}</td>
                                        {% elif data > condForm[1] %}
                                            <td bgcolor="#2ECC71">{{data}}</td>
                                        {% else %}
                                            <td bgcolor="#F7DC6F">{{data}}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{data}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><a href="#"><img data-toggle="modal" onclick="triggerHistoryModal({{ row['id'] }})" data-target="#historyModalCenter" src="../static/history_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td><a href="#"><img data-toggle="modal" onclick="triggerEditModal('{{category}}', {{ row['id'] }})" data-target="#editModalCenter" src="../static/edit_icon.svg" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if category != None %}
                    <tfoot>
                        <tr>
                            <td class="footer_data"></td>
                            <td class="footer_data" data-toggle="modal" onclick="triggerAddModal('{{category}}')" data-target="#addModalCenter"><a style="color:white;" href="#">Click to add more...</a></td>
                            {% for data in dataList[0]['data'] %}
                                <td class="footer_data"></td>
                            {% endfor %}
                            <td class="footer_data"></td>
                            <td class="footer_data"></td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            {% endif %}
            
            {% if dataList == None %}
            <img src="../static/wash.PNG" style="width: 80%; object-fit: contain;">
            {% endif %}
        </div>

        

    </div>
    <div>
        <div class="modal fade" id="historyModalCenter" tabindex="-1" role="dialog" aria-labelledby="historyModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Item History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="history-modal-target" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="edit-modal-target" class="modal-body">
                    {% if columnNames != None %}
                        {% for i in range(columnNames|length - 1) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:30%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="edit_target_{{i}}" value="{{columnNames[i]}}" style="width:100%">{{columnNames[i]}}</span>
                                </div>

                                {% if columnNames[i] != "Type" %}
                                    <input type="text" class="form-control" id="edit_{{i}}">
                                {% else %}
                                    <select id="edit_{{i}}" style="height:38px; width:68%; margin-left:2%;">
                                        {% for unique_type in unique_types %}
                                           <option value={{unique_type}}>
                                              {{unique_type}}
                                           </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="input-group">
                        <span id="edit_error_message" style="width:100%; color:orangered;">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" onclick="submitDelete()" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" onclick="submitEdit()" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Modal for adding item to a category and type -->
        <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="addModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="add-modal-target" class="modal-body">
                    {% if addModalColumnNames != None %}
                        {% for i in range(addModalColumnNames|length) %}
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:25%; padding-bottom: 2.5%">
                                    <span class="input-group-text" id="add_target_{{i}}" value="{{addModalColumnNames[i]}}" style="width:100%">{{addModalColumnNames[i]}}</span>
                                </div>
                                <input type="text" class="form-control" id="add_{{i}}">
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="submitAdd()" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Modal for editing conditional formatting values for each data type -->
        <div class="modal fade" id="editConditionalFormatting" tabindex="-1" role="dialog" aria-labelledby="editConditionalFormatting" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Conditional Formatting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-prepend" style="width:34%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="Item Type" style="width:100%">Item Type</span>
                            </div>
                            <div class="input-group-prepend" style="width:33%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="Low Value" style="width:100%">Low Value</span>
                            </div>
                            <div class="input-group-prepend" style="width:33%; padding-bottom: 2.5%">
                                <span class="input-group-text" value="High Value" style="width:100%">High Value</span>
                            </div>
                        </div>
                        {% if type_data != None %}
                        {% for i in range(type_data|length) %}
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-prepend" style="width:34%; padding-bottom: 2.5%">
                                <span class="input-group-text" id="add_target_{{i}}" value="{{type_data[i][0]}}" style="width:100%">{{type_data[i][0]}}</span>
                            </div>
                            <input type="text" class="form-control" id="addL_{{i}}" value="{{type_data[i][1]}}">
                            <input type="text" class="form-control" id="addH_{{i}}" value="{{type_data[i][2]}}">
                        </div>

                        {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span id="cond_error_message" style="width:100%; color:orangered;">
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitCondChange()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>

       
        <!-- Modal for adding types -->
        <div class="modal fade" id="addTypeModal" tabindex="-1" role="dialog" aria-labelledby="addTypeModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:25%">
                                <span class="input-group-text" id="edit_target_{{i}}" style="width:100%">Category</span>
                           </div>
                           <select id="addTypeSelector" style="width:75%; height:38px;">
                                {% for category in category_list %}
                                   <option value={{category}}>
                                      {{category}}
                                   </option>
                                {% endfor %}
                           </select>
                        </div>
                    </div>
                    <div id="edit-modal-target" class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend" style="width:25%;">
                                <span class="input-group-text" style="width:100%">Type</span>
                            </div>
                            <input type="text" class="form-control" id="addType">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitAddType()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>