<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="styles/provided.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/post.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modalFunctionality.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <div id="root">
        <div class="tableDiv" style="overflow-y: scroll">
            <table class="dataTable" >
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        {% for header in columnNames %}
                            <th style="position: sticky; top: 0;">{{header}}</th>
                        {% endfor %}
                        <th style="position: sticky; top: 0; width:4%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                        <th style="position: sticky; top: 0; width:2.5%"></th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll">
                    {% for row in dataList %}
                        <tr>
                            <td></td>
                            {% for data in row['data'] %}
                                <td>{{data}}</td>
                            {% endfor %}
                            <td><a href="#"><img data-toggle="modal" onclick="triggerHistoryModal({{ row['id'] }})" data-target="#historyModalCenter" src="../static/history_icon.png" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                            <td><a href="#"><img data-toggle="modal" onclick="triggerEditModal('{{category}}', '{{ row['id'] }}', '{{item_type}}')" data-target="#editModalCenter" src="../static/edit_icon.svg" class="d-inline-block align-top" alt="" style="max-height: 30px; max-width: 100%;"></a></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>